.buttonPag
{
  position: relative;
  text-align: center;
  width: 100px;
  padding: 0,5px;
  font-size: 17px;
  color: #080808;
 
  font-weight: 200;
  border: 1px  #def415;
  text-transform: none;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 80px;
  transition: 1,8s;

}
